div.alert-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 30vw;
	z-index: 100;
	height: 25vh;
	a {
		text-decoration: underline;
	}

	aside.alert-readme {
		position: -webkit-sticky;
		position: sticky;

		left: 0;
		top: 0;

		.alert-closed-content {

		}
		.alert-open-content {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			gap: 20px;
			padding: 10px;
			// box-shadow: 0 0 10px 0px black;
		}
	}
	aside.alert-readme.open {
		right: 0;
		border: 0;
		background-color: rgba(34, 139, 34, 1);
		border-bottom-right-radius: 10px;
		.alert-open-content{
			visibility: visible;
		}
		.alert-closed-content{
			visibility: hidden;
		}
	}
	aside.alert-readme.closed {
		width: 0;
		height: 0;
		border-top: 100px solid rgba(34, 139, 34, 0.90);
		border-right: 100px solid transparent;
		color:rgb(63, 48, 10);
		font-weight: 700;

		.close-button {
			visibility: hidden;
		}
		.alert-closed-content{
			visibility: visible;
			position: absolute;
			top: -85px;
			left: 15px;
			transform: rotateZ(-45deg);
			
		}
		.alert-open-content{
			visibility: hidden;
		}
	}
}

div.close-button {
	padding: 5px;
	border: 1px dotted black;

	width: 25px;
	height: 25px;
	background-color: rgba(0,0,0,.5);
	display: grid;
	place-items: center;
	border-radius: 4px;
}
