@import './_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
    // font-family: 'Ubuntu', sans-serif;
    font-family: 'Poppins', sans-serif;
};

// Global colors (see Notion board for reference)
$logo : #E40011;
$mainWhite : #FAF9F8;
$callBlue : #25417A;
$callCream : #F1EBDF;
$callGrey : #CEC6BA;
$callRed : #C9012E;
$favWhite : #FAF9F8;
$favRed : #E40011;
$buttonBlack : #222222;
$buttonWhite : #FFFFFF;
$imgBackground : #E4E3E1;
$chat : #222222;
$bottomNav : #E4E4E4;
$ltGrey : #605e5e;
$activeNavLink : #e50010;


///////////// Global dimensions///////////////
$headerHeight-desktop: 250px;
$sidebarWidth-desktop: 200px;
$callHeight-desktop: 100px;
$callWidth-desktop: 1000px;
$callLargeHeight-desktop: 170px;
$trendingWidth: 850px;
$trendingHeight: 180px;
$thumb-height: 88px;