@import './App.scss'; 
//NOTE: all variables are being imported from App.scss

#call-to-action-container {
    // border: 2px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A9E6B8;
    width: $callWidth-desktop;
    height: $callHeight-desktop;
    text-align: center;
    margin-bottom: 10px;

    & h2 {
        // border: 2px solid red;
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 5px;
    }    
    & p {
        // border: 2px solid red;
        font-size: 7px;
    }

    & span {
        // border: 2px solid red;
        font-size: 1.5em;
        font-weight: 400;
        position: relative;
        left:173px;
    }

}


