@import './App.scss';


.splash-card1-container {
    // border: 2px solid red;
    margin: 0 auto;
    height: 650px;
    // width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;

.splash-card1-image img{
    // border: 2px solid blue;
    // height: 700px;
    width: 1000px;
    // overflow: hidden;
    object-fit: cover;
}

.splash-card1-heading h2 {
    // border: 2px solid red;
    font-size: 2.3em;
    font-weight: 600;
    position: relative;
    bottom: 180px;
} 
& p {
    font-size: .7em;
    position: relative;
    bottom: 160px;
}
& .splash-card1-button button{
    height: 35px;
    width: 100px;
    border-radius: 0px;
    border: 1px solid black;
    font-size: .7em;
    font-weight: 500;
    background: black;
    color: white;
    position: relative;
    bottom: 130px;
}

}
