@import './App.scss';
//NOTE: all variables are being imported from App.scss


.trending-container-heading h3 {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0; 
    font-size: .8em;
    font-weight: 500;
}

.slider {
    // border: 3px solid blue;
    width: 300px;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scrollbar-width: 30px;

    // -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
    // width: 0;
    // background: transparent;
    }
}

.trending-container {
    // border: 2px solid red;
    margin: 0 auto;
    // width: $callWidth-desktop;
    width: $trendingWidth;
    display: flex;
    // justify-content: center;
    // overflow: hidden;
    margin-bottom: 50px;

    .trending-single-image-container {
        //   border: 2px solid blue;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100px;
          margin: 0 11px 0 13px;
          &:hover {
              cursor: pointer;
          }
        
          .trending-image img {
            // border: 2px solid red;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            // position: relative;
            // top: 10px;
            // transform: scale(1.2);
            }
            .trending-image-copy {
                margin: 10px 0 0 0;
                text-align: center;
                font-size: .45em;
            }
            .trending-image-copy p:nth-of-type(2) {
                // border: 2px solid red;
                margin: 4px 0 0 0;
                font-weight: 600;
                // font-size: .2em
            }
        }

}



